DATA 422 PROJECT

KAARTHIK ANDAVAR - 32332576
MONNISH LOURD - 91368527
BENNET JACOB VARGHESE - 15505447
RONALD ALLAPADAN - 22777134

In [1]:
using Pkg               #packages

In [25]:
Pkg.add("CSV")
Pkg.add("DataFrames")

 Resolving package versions...
  Updating `C:\Users\kaart\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\kaart\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\kaart\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\kaart\.julia\environments\v1.1\Manifest.toml`
 [no changes]

In [5]:
using CSV                                                        #using csv package to read the data set

deliveries = CSV.read("./data/deliveries.csv")

136598×21 DataFrames.DataFrame. Omitted printing of 18 columns
│ Row    │ match_id │ inning │ batting_team                │
│        │ Int64    │ Int64  │ String                      │
├────────┼──────────┼────────┼─────────────────────────────┤
│ 1      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 2      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 3      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 4      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 5      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 6      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 7      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 8      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 9      │ 1        │ 1      │ Kolkata Knight Riders       │
│ 10     │ 1        │ 1      │ Kolkata Knight Riders       │
⋮
│ 136588 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136589 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136590 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136591 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136592 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136593 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136594 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136595 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136596 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136597 │ 577      │ 2      │ Royal Challengers Bangalore │
│ 136598 │ 577      │ 2      │ Royal Challengers Bangalore │

In [6]:
using CSV                                                        #using csv package to read the data set

matches = CSV.read("./data/Match.csv")

637×17 DataFrames.DataFrame. Omitted printing of 14 columns
│ Row │ Match_SK │ match_id │ Team1                       │
│     │ Int64    │ Int64    │ String                      │
├─────┼──────────┼──────────┼─────────────────────────────┤
│ 1   │ 0        │ 335987   │ Royal Challengers Bangalore │
│ 2   │ 1        │ 335988   │ Kings XI Punjab             │
│ 3   │ 2        │ 335989   │ Delhi Daredevils            │
│ 4   │ 3        │ 335990   │ Mumbai Indians              │
│ 5   │ 4        │ 335991   │ Kolkata Knight Riders       │
│ 6   │ 5        │ 335992   │ Rajasthan Royals            │
│ 7   │ 6        │ 335993   │ Deccan Chargers             │
│ 8   │ 7        │ 335994   │ Chennai Super Kings         │
│ 9   │ 8        │ 335995   │ Deccan Chargers             │
│ 10  │ 9        │ 335996   │ Kings XI Punjab             │
⋮
│ 627 │ 626      │ 1082640  │ Gujarat Lions               │
│ 628 │ 627      │ 1082641  │ Mumbai Indians              │
│ 629 │ 628      │ 1082642  │ Delhi Daredevils            │
│ 630 │ 629      │ 1082643  │ Gujarat Lions               │
│ 631 │ 630      │ 1082644  │ Kolkata Knight Riders       │
│ 632 │ 631      │ 1082645  │ Rising Pune Supergiants     │
│ 633 │ 632      │ 1082646  │ Delhi Daredevils            │
│ 634 │ 633      │ 1082647  │ Mumbai Indians              │
│ 635 │ 634      │ 1082648  │ Sunrisers Hyderabad         │
│ 636 │ 635      │ 1082649  │ Mumbai Indians              │
│ 637 │ 636      │ 1082650  │ Mumbai Indians              │

In [28]:
using CSV                                                        #using csv package to read the data set

top10 = CSV.read("top10batsmen.csv")

10×2 DataFrames.DataFrame
│ Row │ Column1 │ batsman        │
│     │ Int64   │ String         │
├─────┼─────────┼────────────────┤
│ 1   │ 1       │ V Kohli        │
│ 2   │ 2       │ SK Raina       │
│ 3   │ 3       │ RG Sharma      │
│ 4   │ 4       │ G Gambhir      │
│ 5   │ 5       │ CH Gayle       │
│ 6   │ 6       │ RV Uthappa     │
│ 7   │ 7       │ DA Warner      │
│ 8   │ 8       │ AB de Villiers │
│ 9   │ 9       │ MS Dhoni       │
│ 10  │ 10      │ S Dhawan       │

In [49]:
a = join(top10, deliveries, on=:batsman, kind=:left, makeunique = true)          #merge the two datset based on batsman

27113×22 DataFrame. Omitted printing of 17 columns
│ Row   │ Column1 │ batsman  │ match_id │ inning │ batting_team                │
│       │ Int64   │ String   │ Int64⍰   │ Int64⍰ │ Union{Missing, String}      │
├───────┼─────────┼──────────┼──────────┼────────┼─────────────────────────────┤
│ 1     │ 1       │ V Kohli  │ 1        │ 2      │ Royal Challengers Bangalore │
│ 2     │ 1       │ V Kohli  │ 1        │ 2      │ Royal Challengers Bangalore │
│ 3     │ 1       │ V Kohli  │ 1        │ 2      │ Royal Challengers Bangalore │
│ 4     │ 1       │ V Kohli  │ 1        │ 2      │ Royal Challengers Bangalore │
│ 5     │ 1       │ V Kohli  │ 1        │ 2      │ Royal Challengers Bangalore │
│ 6     │ 1       │ V Kohli  │ 4        │ 2      │ Royal Challengers Bangalore │
│ 7     │ 1       │ V Kohli  │ 4        │ 2      │ Royal Challengers Bangalore │
│ 8     │ 1       │ V Kohli  │ 4        │ 2      │ Royal Challengers Bangalore │
│ 9     │ 1       │ V Kohli  │ 4        │ 2      │ Royal Challengers Bangalore │
│ 10    │ 1       │ V Kohli  │ 4        │ 2      │ Royal Challengers Bangalore │
⋮
│ 27103 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27104 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27105 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27106 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27107 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27108 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27109 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27110 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27111 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27112 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │
│ 27113 │ 10      │ S Dhawan │ 577      │ 1      │ Sunrisers Hyderabad         │

In [64]:
CSV.write("d.csv", a)

"d.csv"